<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>

<!-- nav bar -->

    <div class="header">
        <img src="../../public/images/icon_enterprise.jpeg" alt="" class="logo">
        <h2 class="name-company">VTC Bank
        <hr>
        </h2>
    </div>

    <div class="header-right">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#vender"class="to-sell">Vender</a></li>
            <li><a href="#saldo">Saldo</a></li>
            <li><a href="#extrato">Extrato</a></li>
            <li><a href="#enviar-comprovante">Enviar Comp.</a></li>
        </ul>
        <h4>user.222</h4>
    </div>
    
    <!-- TITLE -->

    <div class="div-title">
        <h1>Realizar Venda</h1>
        <hr>
    </div>

    <!-- SEARCH -->

        <hr class="down">
    <div id="divBusca">
        <img src="search3.png" alt="Buscar"/>
        <input type="text" id="txtBusca" placeholder="Procurar por produto"/>
        <!-- <button id="btnBusca">Buscar</button> -->
        <hr class="vertical-line">
    </div>
    <br>

    <!-- PRODUTOS  -->

    <div class="div-products">
        <h1 class="name-product">Nome do produto</h1>
        <h1 class="value-products">1,00 R$</h1>
    </div>
    <div class="div-products">
        <h1 class="name-product">Nome do produto</h1>
        <h1 class="value-products">1,00 R$</h1>
    </div>
    <div class="div-products">
        <h1 class="name-product">Nome do produto</h1>
        <h1 class="value-products">1,00 R$</h1>
    </div>
    <div class="div-products">
        <h1 class="name-product">Nome do produto</h1>
        <h1 class="value-products">1,00 R$</h1>
    </div>

    <!-- LINES -->

    <div>
        <hr class="dotted-line">
        <hr class="dotted-line">
        <hr class="dotted-line">
        <hr class="dotted-line">
    </div>
    <br>
    <br>
    <br>
        <hr class="dotted-line-bigger">
        <hr class="dotted-line-bigger">

    <!-- COUNTER -->

    <div class='FlexContainer'>
        <div class="text">+</div>
        <div class="text-or">OU</div>
        <div class="text">-</div>
    </div>

    <div class='FlexContainer'>
        <div class="text">+</div>
        <div class="text-or">OU</div>
        <div class="text">-</div>
    </div>

    <div class='FlexContainer'>
        <div class="text">+</div>
        <div class="text-or">OU</div>
        <div class="text">-</div>
    </div>

    <div class='FlexContainer'>
        <div class="text">+</div>
        <div class="text-or">OU</div>
        <div class="text">-</div>
    </div>

    <!-- RESULTS -->

    <div class="value">
        <h1 class="valor-total">Valor total</h1>
        <h1 class="value-total">0,00 R$</h1>
    </div>
    <button class="btn-prosseguir">Prosseguir</button>

</body>

<!-- /* RODAPÉ */ -->

<footer>
    copyright by VTC GROUP
</footer>

</html>