<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title>Comissão</title>
  <link rel="stylesheet" href="../css/comission_DB.css">

</head>

<body>

  <main>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"><img src="../../public/images/ete_icon.png" class="img"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ms-auto ">
            <li class="nav-item">
              <a class="nav-link mx-2 active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                ADM
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Visão Geral</a></li>
                <li><a class="dropdown-item" href="#">About Us</a></li>
                <li><a class="dropdown-item" href="#">Contact us</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Comissão
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Visão Geral</a></li>
                <li><a class="dropdown-item" href="#">About Us</a></li>
                <li><a class="dropdown-item" href="#">Contact us</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Empresa
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Blog</a></li>
                <li><a class="dropdown-item" href="#">About Us</a></li>
                <li><a class="dropdown-item" href="#">Contact us</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </main>


  <div class="team-boxed">
    <div class="container">
      <div class="intro">
        <h2 class="text-center">Visão Geral </h2>
      </div>
      <div class="row people">
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../public/images/default_enterprise_icon.png">
            <h3 class="name">Empresa 1</h3>
            <p class="title">Obra</p>
            <p class="description">Descrição da obra </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            <button type="button" class="btn btn-outline-dark" disabled>500/1000</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../public/images/default_enterprise_icon.png">
            <h3 class="name">Empresa 2</h3>
            <p class="title">Obra</p>
            <p class="description">Descrição da obra </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            <button type="button" class="btn btn-outline-dark" disabled>500/1000</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../public/images/default_enterprise_icon.png">
            <h3 class="name">Empresa 3</h3>
            <p class="title">Obra</p>
            <p class="description">Descrição da obra </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            <button type="button" class="btn btn-outline-dark" disabled>500/1000</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../public/images/default_enterprise_icon.png">
            <h3 class="name">Empresa 4</h3>
            <p class="title">Obra</p>
            <p class="description">Descrição da obra </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            <button type="button" class="btn btn-outline-dark" disabled>500/1000</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../public/images/default_enterprise_icon.png">
            <h3 class="name">Empresa 5</h3>
            <p class="title">Obra</p>
            <p class="description">Descrição da obra </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            <button type="button" class="btn btn-outline-dark" disabled>500/1000</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../public/images/default_enterprise_icon.png">
            <h3 class="name">Empresa 6</h3>
            <p class="title">Obra</p>
            <p class="description">Descrição da obra </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            <button type="button" class="btn btn-outline-dark" disabled>500/1000</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../public/images/default_enterprise_icon.png">
            <h3 class="name">Empresa 7</h3>
            <p class="title">Obra</p>
            <p class="description">Descrição da obra </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            <button type="button" class="btn btn-outline-dark" disabled>500/1000</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../public/images/default_enterprise_icon.png">
            <h3 class="name">Empresa 8</h3>
            <p class="title">Obra</p>
            <p class="description">Descrição da obra </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            <button type="button" class="btn btn-outline-dark" disabled>500/1000</button>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 item">
          <div class="box"><img class="rounded-circle" src="../../public/images/default_enterprise_icon.png">
            <h3 class="name">Empresa 9</h3>
            <p class="title">Obra</p>
            <p class="description">Descrição da obra </p>
            <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            <button type="button" class="btn btn-outline-dark" disabled>500/1000</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card_lucro">
    <h1>Lucro Total</h1>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>

</body>