<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/landing_page.css">
    <title>Tela inicial</title>
</head>
<body>
    <main>
        <section id="left">
            <img src="../../public/images/SUPERIOR.png" alt="" id="name">
            <br>
            <br>
            <div>
                <img src="../../public/images/appLogoIdeia 1.png" alt="">
            </div>
            <br>
            <h3>Desde a venda ao mercado, <br> sempre ao seu lado de <br>forma rápida e segura;</h3>
            <br>
            <h3>ETE - FEM IV</h3>
        </section>
        <section id="right">
            <img src="../../public/images/Texto.png" alt="">
            <br>
            <br>
            <br>
            <button>
                Entre Agora
            </button>
        </section>
    </main>
</body>
</html>