@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color0: #fff;
    --color1: #a3e1e0;
    --color2: #82eaed;
    --color3: #2596be;
    --color4: #1791b0;
    --color5: #397f98;
    --color6: #1a3b4f;
    --color7: #e8ba55;
    --color8: #bd8e27;
    --font1: 'Poppins', sans-serif;
}

body {
    text-align: center;
    font-family: var(--font1);
    background-color: var(--color6);
    color: var(--color0);
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-weight: 300;
}

img {
    height: 90px;
    width: 90px;
    margin-bottom: -20px;
    border: 3px solid var(--color7);
    border-radius: 50%;
}

main {
    margin-top: 2%;
}

form {
    padding: 10px;
    border: 1px solid black;
    background-color: var(--color5);
    height: 355px;
    width: 455px;
    border-radius: 5%;
    margin: 0 auto;
}

form div {
    margin-top: -10px;
    padding: 50px;
    text-align: left;
}

label {
    font-weight: 400;
    font-size: large;
}

#remember {
    margin-bottom: -30px;
    transform: translateX(40px);
}

.input_text {
    margin-top: 5px;
    font-family: var(--font1);
    border-radius: 10px;
    padding: 5px;
    font-size: medium;
    font-weight: 400;
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    width: 315px;
    background-color: var(--color1);
    border: 1px solid var(--color6);
    transition: 0.2s ease-in-out;
}

.input_text:focus {
    outline: none;
    background-color: var(--color0);
}

.cl-checkbox {
    position: relative;
    display: inline-block;
}

/* Input */
.cl-checkbox>input {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    z-index: -1;
    position: absolute;
    left: -10px;
    top: -8px;
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: none;
    outline: none;
    opacity: 0;
    transform: scale(1);
    pointer-events: none;
    transition: opacity 0.3s, transform 0.2s;
}

/* Span */
.cl-checkbox>span {
    display: inline-block;
    width: 100%;
    cursor: pointer;
}

/* Box */
.cl-checkbox>span::before {
    content: "";
    display: inline-block;
    box-sizing: border-box;
    margin: 3px 11px 3px 1px;
    border: solid 3px;
    /* Safari */
    border-color: black;
    border-radius: 30px;
    width: 30px;
    height: 30px;
    vertical-align: top;
    transition: border-color 0.2s, background-color 0.2s;
}

/* Checkmark */
.cl-checkbox>span::after {
    content: "";
    display: block;
    position: absolute;
    top: 9px;
    left: 6.5px;
    width: 10px;
    height: 5px;
    border: solid 3px transparent;
    border-right: none;
    border-top: none;
    transform: translate(3px, 4px) rotate(-45deg);
}

/* Checked, Indeterminate */
.cl-checkbox>input:checked,
.cl-checkbox>input:indeterminate {
    background-color: var(--color7);
}

.cl-checkbox>input:checked+span::before,
.cl-checkbox>input:indeterminate+span::before {
    border-color: black;
    background-color: var(--color7);
}

.cl-checkbox>input:checked+span::after,
.cl-checkbox>input:indeterminate+span::after {
    border-color: black;
}

.cl-checkbox>input:indeterminate+span::after {
    border-left: none;
    transform: translate(4px, 3px);
}

/* Hover, Focus */
.cl-checkbox:hover>input {
    opacity: 0.04;
}

.cl-checkbox>input:focus {
    opacity: 0.12;
}

.cl-checkbox:hover>input:focus {
    opacity: 0.16;
}

/* Active */
.cl-checkbox>input:active {
    opacity: 1;
    transform: scale(0);
    transition: transform 0s, opacity 0s;
}

.cl-checkbox>input:active+span::before {
    border-color: #85b8b7;
}

.cl-checkbox>input:checked:active+span::before {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.6);
}

/* Disabled */
.cl-checkbox>input:disabled {
    opacity: 0;
}

.cl-checkbox>input:disabled+span {
    color: rgba(0, 0, 0, 0.38);
    cursor: initial;
}

.cl-checkbox>input:disabled+span::before {
    border-color: currentColor;
}

.cl-checkbox>input:checked:disabled+span::before,
.cl-checkbox>input:indeterminate:disabled+span::before {
    border-color: transparent;
    background-color: currentColor;
}

button {
    background-color: var(--color7);
    width: 350px;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -10px;
    transition: 0.4s ease-in-out;
    margin-top: -100px;
    font-size: 34px;
    font-weight: 500;
    font-family: var(--font1);
    box-shadow: 0 1.5px 0 0 black;
    border: 2.5px solid black;
}

button:hover {
    transform: scale(105%);
    background-color: var(--color8);
    font-size: 36px;

}

button:focus {
    transform: scale(85%);
}

h4 {
    font-weight: 400;
}

footer {
    margin-top: 70px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
