.card{
    width: 300px;
    background-color: rgb(186, 116, 252);
    color: white;
    float: right;
    justify-content: right;
    margin-right: 35px;
    position: relative;
    margin: -40px auto 0;
    margin-top: 200px;
    margin-left: 100px;
    margin-bottom: 50px;
    align-content: center;
    display: inline-block;
}

.img {
    width: 150px;
    height: 75px;
}