<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Comission</title>
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="../../../public/images/appLogoIdeia 1.png" alt="">
            <h1>VTC Bank<hr></h1>
        </div>
        <div id="list">
            <ul>
                <li>
                    <p>Home</p>
                </li>
                <li>
                    <p>Vender</p>
                </li>
                <li>
                    <p>Ver. Saldo</p>
                </li>
                <li>
                    <p>Extrato</p>
                </li>
                <li>
                    <p>Enviar comp.</p>
                </li>
            </ul>
        </div>
        <div id="user">
            <h3>user.222</h3>
            <img src="https://cdn-icons-png.flaticon.com/512/456/456212.png" alt="">
        </div>
    </nav>
    <main>
        <section id="left">
            <br>
            <br>
            <div>
                <img src="../../../public/images/appLogoIdeia 1.png" alt="">
            </div>
            <br>
            <h2>Nome da Empresa</h2>
            <h3 class="desc">Obra: XXXXXXXXX</h3>
            <br>
            <br>
            <br>
            <h4>DESCRIÇÃO DA EMPRESA:</h4>
            <h5 class="desc">XXXXXXXXXXXXXXX <br> XXXXXXXXXXXX</h5>
            <br>
        </section>
        <section id="right">
            <div id="billing">
                <h1>Faturou até o momento:</h1>
                <hr class="hr_short">
                <hr class="hr_long">
                <div>
                    <h2>1000,00 R$</h2>
                </div>
                <hr class="hr_long">
                <hr class="hr_short">
            </div>
        </section>
    </main>
</body>
</html>