<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tela inicial</title>
</head>

<body>
    <main>
        <section id="left">
            <img src="../../../public/images/SUPERIOR.png" alt="" id="name">
            <br>
            <br>
            <div>
                <img src="../../../public/images/appLogoIdeia 1.png" alt="">
            </div>
            <br>
            <h3>Desde a venda ao mercado, <br> sempre ao seu lado de <br>forma rápida e segura;</h3>
            <br>
            <h3>ETE - FEM IV</h3>
        </section>
        <section id="right">
            <div id="title">
                <h1>Bem-Vindo ao</h1>
                <h2>Virtual Ticket Coin</h2>
            </div>
            <div id="subtitle">
                <hr class="hr-pai hr-right">
                <h3>Venha gerenciar seus eventos conosco</h3>
                <hr class="hr-pai">
            </div>

            <button>
                Entre Agora
            </button>
        </section>
    </main>
</body>

</html>