@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color0: #fff;
    --color1: #a3e1e0;
    --color2: #82eaed;
    --color3: #2596be;
    --color4: #1791b0;
    --color5: #397f98;
    --color6: #1a3b4f;
    --color7: #e8ba55;
    --color8: #bd8e27;
    --font1: 'Poppins', sans-serif;
}
*{
    font-family: var(--font1);
}

body {
    background-color: var(--color3);
}

main {
    display: flex;
}

#left {
    background-color: var(--color6);
    position: absolute;
    width: 450px;
    height: 100%;
    left: 0px;
    top: 0px;
}

#name {
    width: 305px;
    height: 90px;
    margin-top: 10px;
    margin-left: 70px;
}

#left div {
    height: 270px;
    width: 270px;
    border: 7px solid var(--color7);
    border-radius: 50%;
    text-align: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 80px;
}

#left div img {
    padding: 20px;
    height: 220px;
    width: 220px;
}

#left h3 {
    text-align: center;
    font-family: var(--font1);
    color: var(--color7);
    font-weight: 700;
    font-size: large;
}

#right {
    margin-left: 450px;
}

#title {
    margin: 220px 0 0 20px;
}

#title h1 {
    font-size: 60px;
    font-weight: 600;
    margin: 0;
}

#title h2{
    font-size: 80px;
    font-weight: 400;
    margin: -40px 0 0 30px;
}

#subtitle{
    margin: -20px 0 0 20px;
}

#subtitle h3 {
    font-size: 35px;
    font-weight: 500;
    margin: 0;
}

.hr-pai {
    border: 2px solid black;
    margin: 0;
    width: 600px;
}
.hr-right{
    margin-left: 40px;
    width: 770px;
}

button {
    background-color: var(--color7);
    width: 270px;
    height: 50px;
    border-radius: 10px;
    margin-left: 300px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    margin-top: -100px;
    font-size: 26px;
    font-weight: 600;
    font-family: var(--font1);
    border: 2.5px solid black ;
    box-shadow: 0 1.5px 0 0 black;
    margin-top: 50px;
}

button:hover {
    transform: scale(105%);
    background-color: var(--color8);
    font-size: 28px;

}

button:focus {
    transform: scale(85%);
}